* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #292524;
    color: #fafaf9;
    font-family: "Sono", sans-serif;
    padding: 40px;
}
    
.header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.fact-form {
    background-color: #44403c;
    margin-bottom: 40px;
    padding: 16px;
    text-align: center;
}
.main {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 48px;
}
    h1 {
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    font-family: "coiny", sans-serif;
    color: #fafaf9;
    line-height: 1;
    margin-top: 6px;
}

.fact {
    font-size: 20px;
    line-height: 1.4;
    font-family: "sono", sans-serif; 
    color: #fafaf9;
    background-color: #44403c;
    margin-bottom: 16px;
    padding: 16px 24px;
    letter-spacing: -1px;

    display: flex;
    align-items: center ;
    
    gap: 24px;
}

ul {
    list-style: none;
}

.tag {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "coiny", sans-serif;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
.vote-buttons {
    margin-left: auto;
    
}

form {
    background-color: #44403c;  
}